# From the build processes
ebin/*.beam
ebin/*.rel
Mnesia.*
MnesiaCore.*
coverage/*
erl_crash.dump
.gen_leader*
key
key.pub
contrib/**/ebin/*
contrib/**/doc/*

# unique config files
*.config
*.boot
*.script

# from the logger
*.log

# Xcode
build/*
*.xcodeproj/*

# OS X
.DS_Store
profile

# Vim
*.swp
*.swo
